# SPDX-License-Identifier: MIT-0
---
galaxy_info:
  role_name: nvidia_driver
  author: Wander Lairson Costa
  description: Install NVIDIA proprietary drivers from RPM Fusion
  license: MIT-0
  min_ansible_version: "2.15"
  platforms:
    - name: Fedora
      versions:
        - "40"
        - "41"
        - "42"
    - name: EL
      versions:
        - "9"

dependencies: []
