# SPDX-License-Identifier: MIT-0
---
galaxy_info:
  role_name: cuda
  author: Wander Lairson Costa
  description: Install NVIDIA CUDA Toolkit from official NVIDIA repository
  license: MIT-0
  min_ansible_version: "2.15"
  platforms:
    - name: Fedora
      versions:
        - "40"
        - "41"
        - "42"
    - name: EL
      versions:
        - "9"

dependencies: []
# Note: nvidia-driver role should be applied before this role
